// Typography
// ----------------------------------------------------------------------------

body {
  color: $body-color;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-family: $font-family-base;
}

a {
  color: #00f;
}
